/* app css stylesheet */

h4.grade {
  /*border: 1px solid green;*/
  text-align:center;
  color:white;
  padding: 6px 0px;
  margin: 0px;

}

h4.name {
  min-height: 50px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.card {
  /*border: 1px solid red;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 210px;
  min-height: 300px;
  margin: 2px 2px;
  text-align: center;
  font-family: arial;
  padding: 0;
  float: left;
}

.price {
  color: grey;
  font-size: 16px;
}

/*.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}*/

.card button:hover {
  opacity: 0.7;
}


/*.card a.img {*/
a.img {
  /*float: left;*/
  width: 100%;
  text-align: center;
  padding: 0 0;
  /*transition: all 0.3s ease;*/
  /*color: white;*/
  font-size: 66px;
}

.card a.img:hover {
  background-color: #e0ebeb;
}

div.img {
  /*border: 1px solid red;*/
  background-color: #f0f5f5;
  margin-top: 0;
  pad
}

a.mybtn:link, a.mybtn:visited {
  background-color: #00cc00;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

a.mybtn:hover, a.mybtn:active {
  background-color: #00b300;
}

.mycol-container {
  /*border: 1px solid green;*/
  display: table;
  width: 95%;
  padding-left: 10%
}

.mycol {
  display: table-cell;
  /*padding: 16px;*/
}
